@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body[data-theme='light'] {
    color: hsl(240, 50%, 7%);
    background-color: hsl(240, 47%, 97%);
}

body[data-theme='dark'] {
    color: hsl(240, 50%, 93%);
    background-color: hsl(240, 47%, 3%);
}